# Imports

In [5]:
%reload_ext autoreload
%autoreload 2
from src.data_utils import unzip, load_data
from src.preprocess import merge

# Data exploration

### Unzip dataset

In [2]:
unzip()

Successfully extracted to data/interim/

### Load dataset

In [3]:
users_df, items_df, ratings_df = load_data('u.data')

# Print the first few rows of each DataFrame to verify the data loading
print("Users DataFrame:")
print(users_df.head())

print("\nRatings DataFrame:")
ratings_df.head()

Users DataFrame:
   user_id  age gender  occupation zip_code
0        1   24      M  technician    85711
1        2   53      F       other    94043
2        3   23      M      writer    32067
3        4   24      M  technician    43537
4        5   33      F       other    15213

Ratings DataFrame:

   user_id  movie_id  rating  timestamp
0      196       242       3  881250949
1      186       302       3  891717742
2       22       377       1  878887116
3      244        51       2  880606923
4      166       346       1  886397596

In [4]:
print("\nItems DataFrame:")
items_df.head()

Items DataFrame:

,movie_id,title,release_date,video_release_date,imdb_url,unknown,Action,Adventure,Animation,Children's,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

#### Check null values

In [6]:
items_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1682 entries, 0 to 1681
Data columns (total 24 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   movie_id            1682 non-null   int64
 1   title               1682 non-null   object
 2   release_date        1681 non-null   object
 3   video_release_date  0 non-null      float64
 4   imdb_url            1679 non-null   object
 5   unknown             1682 non-null   int64
 6   Action              1682 non-null   int64
 7   Adventure           1682 non-null   int64
 8   Animation           1682 non-null   int64
 9   Children's          1682 non-null   int64
 10  Comedy              1682 non-null   int64
 11  Crime               1682 non-null   int64
 12  Documentary         1682 non-null   int64
 13  Drama               1682 non-null   int64
 14  Fantasy             1682 non-null   int64
 15  Film-Noir           1682 non-null   int64
 16  Horror              1682 non-null   int64
 17  Musical             1682 non-null   int64
 18  Mystery             1682 non-null   int64
 19  Romance             1682 non-null   int64
 20  Sci-Fi              1682 non-null   int64
 21  Thriller            1682 non-null   int64
 22  War                 1682 non-null   int64
 23  Western             1682 non-null   int64
dtypes: float64(1), int64(20), object(3)
memory usage: 315.5+ KB

In [7]:
users_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 943 entries, 0 to 942
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   user_id     943 non-null    int64
 1   age         943 non-null    int64
 2   gender      943 non-null    object
 3   occupation  943 non-null    object
 4   zip_code    943 non-null    object
dtypes: int64(2), object(3)
memory usage: 37.0+ KB

In [8]:
ratings_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   user_id    100000 non-null  int64
 1   movie_id   100000 non-null  int64
 2   rating     100000 non-null  int64
 3   timestamp  100000 non-null  int64
dtypes: int64(4)
memory usage: 3.1 MB

#### Check duplicates in data

In [9]:
ratings_df[['user_id', 'movie_id']].duplicated().sum()

0

#### Check zip codes variety

In [10]:
sorted(users_df['zip_code'].unique())

['00000',
 '01002',
 '01040',
 '01080',
 '01331',
 '01375',
 '01581',
 '01602',
 '01701',
 '01720',
 '01754',
 '01810',
 '01824',
 '01913',
 '01915',
 '01940',
 '01945',
 '01960',
 '01970',
 '02110',
 '02113',
 '02125',
 '02136',
 '02138',
 '02139',
 '02140',
 '02143',
 '02146',
 '02154',
 '02159',
 '02176',
 '02215',
 '02320',
 '02324',
 '02341',
 '02859',
 '02903',
 '02918',
 '03052',
 '03060',
 '03062',
 '03261',
 '03755',
 '03869',
 '04102',
 '04988',
 '05001',
 '05146',
 '05201',
 '05452',
 '05464',
 '05779',
 '06059',
 '06260',
 '06333',
 '06355',
 '06365',
 '06371',
 '06405',
 '06437',
 '06472',
 '06492',
 '06512',
 '06513',
 '06518',
 '06779',
 '06811',
 '06906',
 '06927',
 '07029',
 '07030',
 '07039',
 '07102',
 '07204',
 '07310',
 '07733',
 '08034',
 '08043',
 '08052',
 '08105',
 '08360',
 '08403',
 '08534',
 '08610',
 '08816',
 '08832',
 '08904',
 '09645',
 '10003',
 '10010',
 '10011',
 '10016',
 '10018',
 '10019',
 '10021',
 '10022',
 '10025',
 '10309',
 '10314',
 '10522',
 '10707',
 '10960',
 '11101',
 '11201',
 '11211',
 '11217',
 '11231',
 '11238',
 '11577',
 '11701',
 '11727',
 '11753',
 '11758',
 '11787',
 '12065',
 '12180',
 '12205',
 '12345',
 '12550',
 '12603',
 '12866',
 '13210',
 '13820',
 '14085',
 '14211',
 '14216',
 '14476',
 '14534',
 '14627',
 '14850',
 '14853',
 '15017',
 '15203',
 '15213',
 '15217',
 '15222',
 '15232',
 '15235',
 '15237',
 '15610',
 '16125',
 '16506',
 '16509',
 '16801',
 '16803',
 '17036',
 '17110',
 '17325',
 '17331',
 '17345',
 '17604',
 '17870',
 '17961',
 '18015',
 '18053',
 '18301',
 '18505',
 '19047',
 '19102',
 '19104',
 '19146',
 '19149',
 '19341',
 '19382',
 '19422',
 '19711',
 '19716',
 '19807',
 '20001',
 '20003',
 '20006',
 '20008',
 '20009',
 '20015',
 '20057',
 '20064',
 '20090',
 '20657',
 '20685',
 '20707',
 '20723',
 '20755',
 '20770',
 '20784',
 '20817',
 '20850',
 '20854',
 '20879',
 '20902',
 '20910',
 '21010',
 '21012',
 '21044',
 '21114',
 '21201',
 '21206',
 '21208',
 '21218',
 '21227',
 '21250',
 '21911',
 '22003',
 '22030',
 '22202',
 '22206',
 '22207',
 '22306',
 '22902',
 '22903',
 '22904',
 '22906',
 '22911',
 '22932',
 '22973',
 '23092',
 '23112',
 '23226',
 '23227',
 '23237',
 '23322',
 '23509',
 '24060',
 '25652',
 '26241',
 '26506',
 '27105',
 '27249',
 '27502',
 '27510',
 '27511',
 '27514',
 '27606',
 '27705',
 '27708',
 '27713',
 '28018',
 '28450',
 '28480',
 '28734',
 '28806',
 '28814',
 '29201',
 '29205',
 '29206',
 '29210',
 '29301',
 '29379',
 '29440',
 '29464',
 '29631',
 '29646',
 '29678',
 '30002',
 '30011',
 '30030',
 '30033',
 '30040',
 '30067',
 '30068',
 '30078',
 '30093',
 '30220',
 '30329',
 '30350',
 '30606',
 '30803',
 '31211',
 '31404',
 '31820',
 '31909',
 '32067',
 '32114',
 '32250',
 '32301',
 '32303',
 '32605',
 '32707',
 '32712',
 '32789',
 '33066',
 '33205',
 '33308',
 '33319',
 '33484',
 '33556',
 '33716',
 '33755',
 '33763',
 '33765',
 '33775',
 '33884',
 '34105',
 '34656',
 '35802',
 '36106',
 '36117',
 '37076',
 '37212',
 '37235',
 '37411',
 '37412',
 '37725',
 '37771',
 '37777',
 '37901',
 '38115',
 '38401',
 '38866',
 '39042',
 '39762',
 '40205',
 '40206',
 '40243',
 '40256',
 '40503',
 '40504',
 '40515',
 '41850',
 '42101',
 '42141',
 '42459',
 '42647',
 '43017',
 '43085',
 '43201',
 '43202',
 '43204',
 '43212',
 '43215',
 '43221',
 '43512',
 '43537',
 '44074',
 '44092',
 '44106',
 '44124',
 '44133',
 '44134',
 '44212',
 '44224',
 '44265',
 '44405',
 '44648',
 '44691',
 '45218',
 '45243',
 '45439',
 '45660',
 '45680',
 '45810',
 '46005',
 '46032',
 '46260',
 '46538',
 '47024',
 '47130',
 '47401',
 '47905',
 '47906',
 '48043',
 '48076',
 '48103',
 '48105',
 '48118',
 '48197',
 '48322',
 '48446',
 '48823',
 '48825',
 '48911',
 '49036',
 '49428',
 '49508',
 '49512',
 '49705',
 '49931',
 '49938',
 '50112',
 '50233',
 '50266',
 '50311',
 '50322',
 '50325',
 '50613',
 '50670',
 '51157',
 '51250',
 '52241',
 '52245',
 '52246',
 '52302',
 '53066',
 '53115',
 '53144',
 '53171',
 '53188',
 '53202',
 '53210',
 '53211',
 '53214',
 '53703',
 '53705',
 '53706',
 '53711',
 '53713',
 '53715',
 '54248',
 '54302',
 '54467',
 '54494',
 '54901',
 '55013',
 '55021',
 '55038',
 '55104',
 '55105',
 '55106',
 '55107',
 '55108',
 '55109',
 '55113',
 '55116',
 '55117',
 '55122',
 '55125',
 '55128',
 '55303',
 '55305',
 '55320',
 '55337',
 '55343',
 '55345',
 '55346',
 '55369',
 '55406',
 '55408',
 '55409',
 '55412',
 '55413',
 '55414',
 '55417',
 '55420',
 '55422',
 '55423',
 '55428',
 '55436',
 '55439',
 '55443',
 '55454',
 '56321',
 '56567',
 '57197',
 '58202',
 '58644',
 '59717',
 '59801',
 '60005',
 '60007',
 '60008',
 '60035',
 '60067',
 '60089',
 '60090',
 '60115',
 '60135',
 '60152',
 '60187',
 '60201',
 '60202',
 '60302',
 '60402',
 '60440',
 '60466',
 '60476',
 '60515',
 '60613',
 '60614',
 '60615',
 '60626',
 '60630',
 '60641',
 '60657',
 '60659',
 '60804',
 '61073',
 '61401',
 '61455',
 '61462',
 '61755',
 '61801',
 '61820',
 '62522',
 '62901',
 '62903',
 '63021',
 '63033',
 '63044',
 '63108',
 '63119',
 '63129',
 '63130',
 '63132',
 '63146',
 '63304',
 '63645',
 '64118',
 '64131',
 '64153',
 '65203',
 '66046',
 '66215',
 '66221',
 '66315',
 '67401',
 '68106',
 '68147',
 '68503',
 '68504',
 '68767',
 '70116',
 '70124',
 '70403',
 '70802',
 '70808',
 '71457',
 '71701',
 '73013',
 '73034',
 '73071',
 '73132',
 '73162',
 '73439',
 '74075',
 '74078',
 '74101',
 '75006',
 '75013',
 '75094',
 '75204',
 '75206',
 '75218',
 '75230',
 '75240',
 '76013',
 '76059',
 '76111',
 '76201',
 '76234',
 '76309',
 '77005',
 '77008',
 '77009',
 '77042',
 '77048',
 '77073',
 '77081',
 '77380',
 '77459',
 '77504',
 '77801',
 '77840',
 '77841',
 '77845',
 '77904',
 '78155',
 '78205',
 '78209',
 '78212',
 '78213',
 '78264',
 '78390',
 '78602',
 '78628',
 '78704',
 '78739',
 '78741',
 '78746',
 '78750',
 '78756',
 '79070',
 '79508',
 '80027',
 '80123',
 '80127',
 '80209',
 '80227',
 '80228',
 '80236',
 '80302',
 '80303',
 '80521',
 '80525',
 '80526',
 '80538',
 '80913',
 '80919',
 '81648',
 '82435',
 '83686',
 '83702',
 '83709',
 '83716',
 '83814',
 '84010',
 '84103',
 '84105',
 '84107',
 '84116',
 '84302',
 '84408',
 '84601',
 '84604',
 '85016',
 '85032',
 '85202',
 '85210',
 '85233',
 '85251',
 '85258',
 '85281',
 '85282',
 '85710',
 '85711',
 '85719',
 '87501',
 '87544',
 '89104',
 '89503',
 '89801',
 '90008',
 '90016',
 '90019',
 '90034',
 '90036',
 '90064',
 '90095',
 '90210',
 '90247',
 '90254',
 '90291',
 '90405',
 '90630',
 '90703',
 '90804',
 '90814',
 '90840',
 '91040',
 '91105',
 '91201',
 '91206',
 '91335',
 '91344',
 '91351',
 '91505',
 '91606',
 '91711',
 '91903',
 '91919',
 '92020',
 '92037',
 '92064',
 '92093',
 '92103',
 '92110',
 '92113',
 '92115',
 '92121',
 '92154',
 '92374',
 '92507',
 '92626',
 '92629',
 '92653',
 '92660',
 '92688',
 '92705',
 '93003',
 '93055',
 '93063',
 '93101',
 '93109',
 '93117',
 '93402',
 '93550',
 '93555',
 '93612',
 '93711',
 '94025',
 '94040',
 '94043',
 '94086',
 '94115',
 '94117',
 '94131',
 '94143',
 '94305',
 '94306',
 '94403',
 '94533',
 '94551',
 '94560',
 '94583',
 '94591',
 '94608',
 '94612',
 '94618',
 '94619',
 '94702',
 '94703',
 '94708',
 '94720',
 '94920',
 '95014',
 '95032',
 '95050',
 '95064',
 '95076',
 '95110',
 '95123',
 '95129',
 '95161',
 '95316',
 '95403',
 '95453',
 '95468',
 '95521',
 '95628',
 '95660',
 '95662',
 '95821',
 '95823',
 '95938',
 '96349',
 '96754',
 '96819',
 '97006',
 '97007',
 '97124',
 '97203',
 '97208',
 '97212',
 '97214',
 '97215',
 '97229',
 '97232',
 '97301',
 '97302',
 '97330',
 '97365',
 '97403',
 '97405',
 '97408',
 '97520',
 '98006',
 '98027',
 '98034',
 '98038',
 '98072',
 '98101',
 '98102',
 '98103',
 '98117',
 '98121',
 '98133',
 '98199',
 '98225',
 '98257',
 '98281',
 '98405',
 '98501',
 '98620',
 '98682',
 '98801',
 '99206',
 '99603',
 '99687',
 '99709',
 '99835',
 'E2A4H',
 'E2E3R',
 'K7L5J',
 'L1V3W',
 'L9G2B',
 'M4J2K',
 'M7A1A',
 'N2L5N',
 'N4T1A',
 'R3T5K',
 'T8H1N',
 'V0R2H',
 'V0R2M',
 'V1G4L',
 'V3N4P',
 'V5A2B',
 'Y1A6B']

## Small preprocessing of columns

### Extract the first symbol from zip_code that states the region

In [11]:
users_df['zip_code'] = users_df['zip_code'].apply(lambda x: x[0])

#### Extract year and month from timestamp

In [12]:
ratings_df['timestamp'] = pd.to_datetime(ratings_df['timestamp'], unit='s')
ratings_df['year'] = ratings_df['timestamp'].dt.year
ratings_df['month'] = ratings_df['timestamp'].dt.month
ratings_df['day'] = ratings_df['timestamp'].dt.day

ratings_df.drop(columns=['timestamp'], inplace=True)

#### Extract number of days from release_date

In [13]:
items_df['release_date'] = pd.to_datetime(items_df['release_date'], format='%d-%b-%Y')
items_df['date'] = (items_df['release_date'].max() - items_df['release_date']).dt.days

## Fill missing values with mean
items_df['days_ago'] = items_df['date'].fillna(items_df['date'].mean())

#### Drop video_release_date, imdb_url

In [14]:
items_df = items_df.drop(columns=['video_release_date', 'imdb_url', 'release_date', 'date'])

### Preprocess title - remove punctation and digits

In [15]:
import re
def preprocess_title(title):
    remove_braces = re.sub(r'\([^)]*\)', '', title)
    if (len(remove_braces) == 0): remove_braces = title
    
    new_title = " ".join(re.findall(r'\b\w{3,}\b', remove_braces.lower())).strip()
    if (len(new_title) == 0): new_title = remove_braces

    return new_title

In [16]:
items_df['title'] = items_df['title'].apply(preprocess_title)

## After small preprocessing

In [17]:
print(items_df.columns)
items_df.head()

Index(['movie_id', 'title', 'unknown', 'Action', 'Adventure', 'Animation',
       'Children's', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',
       'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi',
       'Thriller', 'War', 'Western', 'days_ago'],
      dtype='object')

,movie_id,title,unknown,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,...,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western,days_ago
0,1,toy story,0,0,0,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,1391.0
1,2,goldeneye,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1391.0
2,3,four rooms,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1391.0
3,4,get shorty,0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1391.0
4,5,copycat,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,1391.0

In [18]:
users_df.head()

   user_id  age gender  occupation zip_code
0        1   24      M  technician        8
1        2   53      F       other        9
2        3   23      M      writer        3
3        4   24      M  technician        4
4        5   33      F       other        1

In [19]:
ratings_df.head()

   user_id  movie_id  rating  year  month  day
0      196       242       3  1997     12    4
1      186       302       3  1998      4    4
2       22       377       1  1997     11    7
3      244        51       2  1997     11   27
4      166       346       1  1998      2    2

# Visualization of the data distributions

# Conclusions

- All video release dates are null
- urls are not useful since nobody likes video just looking at url
- dataset is unbalanced towards the good rating (4-5)

# Strong preprocessing - scalling, encoding and tokenization

### Tokenize title and expand a list of tokens into a row

In [20]:
from gensim.models import Word2Vec
from nltk.tokenize import word_tokenize
import nltk
nltk.download('punkt')

tokenized_titles = [word_tokenize(title) for title in items_df['title']]
vectors = Word2Vec(sentences=tokenized_titles, vector_size=50, window=5, min_count=1).wv

def tokenize(title):
    # print(f'[{title}]')
    return vectors[word_tokenize(title)].mean(axis=0)

[nltk_data] Downloading package punkt to /home/anaconda/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [21]:
items_df['title'] = items_df['title'].apply(tokenize)

items_df = pd.concat([items_df, items_df['title'].apply(pd.Series)], axis=1)
items_df = items_df.drop(columns=['title'])

### Scaling

In [22]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()


# Rating - year, month, day, rating
ratings_df['rating'] = scaler.fit_transform(ratings_df[['rating']])
ratings_df['year'] = scaler.fit_transform(ratings_df[['year']])
ratings_df['month'] = scaler.fit_transform(ratings_df[['month']])
ratings_df['day'] = scaler.fit_transform(ratings_df[['day']])

# Users - age
users_df['age'] = scaler.fit_transform(users_df[['age']])

# Movie - released days ago
items_df['days_ago'] = scaler.fit_transform(items_df[['days_ago']])

### One-hot Encoding

In [23]:
# User - gender, occupatin, zipcode

users_df = pd.get_dummies(users_df, columns=['occupation'], prefix='ocp', drop_first=True)
users_df = pd.get_dummies(users_df, columns=['gender'], prefix='gender', drop_first=True)
users_df = pd.get_dummies(users_df, columns=['zip_code'], prefix='zipcode', drop_first=True)

# Result after all the preprocessing

In [24]:
# Rating distribution
ratings_df['rating'].value_counts().sort_values()

rating
0.00     6110
0.25    11370
1.00    21201
0.50    27145
0.75    34174
Name: count, dtype: int64

In [25]:
ratings_df.head()

   user_id  movie_id  rating  year     month       day
0      196       242    0.50   0.0  1.000000  0.100000
1      186       302    0.50   1.0  0.272727  0.100000
2       22       377    0.00   0.0  0.909091  0.200000
3      244        51    0.25   0.0  0.909091  0.866667
4      166       346    0.00   1.0  0.090909  0.033333

In [26]:
users_df.head()

,user_id,age,ocp_artist,ocp_doctor,ocp_educator,ocp_engineer,ocp_entertainment,ocp_executive,ocp_healthcare,ocp_homemaker,...,zipcode_9,zipcode_E,zipcode_K,zipcode_L,zipcode_M,zipcode_N,zipcode_R,zipcode_T,zipcode_V,zipcode_Y
0,1,0.257576,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,2,0.696970,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
2,3,0.242424,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,4,0.257576,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,5,0.393939,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

# Merge into one dataset

In [28]:
users_items = merge(ratings_df, users_df, items_df)
print(list(users_items.columns))
users_items.head()

['user_id', 'movie_id', 'rating', 'year', 'month', 'day', 'age', 'ocp_artist', 'ocp_doctor', 'ocp_educator', 'ocp_engineer', 'ocp_entertainment', 'ocp_executive', 'ocp_healthcare', 'ocp_homemaker', 'ocp_lawyer', 'ocp_librarian', 'ocp_marketing', 'ocp_none', 'ocp_other', 'ocp_programmer', 'ocp_retired', 'ocp_salesman', 'ocp_scientist', 'ocp_student', 'ocp_technician', 'ocp_writer', 'gender_M', 'zipcode_1', 'zipcode_2', 'zipcode_3', 'zipcode_4', 'zipcode_5', 'zipcode_6', 'zipcode_7', 'zipcode_8', 'zipcode_9', 'zipcode_E', 'zipcode_K', 'zipcode_L', 'zipcode_M', 'zipcode_N', 'zipcode_R', 'zipcode_T', 'zipcode_V', 'zipcode_Y', 'unknown', 'Action', 'Adventure', 'Animation', "Children's", 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western', 'days_ago', 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]

,user_id,movie_id,rating,year,month,day,age,ocp_artist,ocp_doctor,ocp_educator,...,40,41,42,43,44,45,46,47,48,49
0,196,242,0.50,0.0,1.000000,0.100000,0.636364,False,False,False,...,-0.011781,-0.001448,0.012002,-0.0089,-0.010015,-0.000837,-0.012694,0.016361,0.003422,0.01643
1,305,242,1.00,1.0,0.090909,0.000000,0.242424,False,False,False,...,-0.011781,-0.001448,0.012002,-0.0089,-0.010015,-0.000837,-0.012694,0.016361,0.003422,0.01643
2,6,242,0.75,0.0,1.000000,0.900000,0.530303,False,False,False,...,-0.011781,-0.001448,0.012002,-0.0089,-0.010015,-0.000837,-0.012694,0.016361,0.003422,0.01643
3,234,242,0.75,1.0,0.181818,0.866667,0.803030,False,False,False,...,-0.011781,-0.001448,0.012002,-0.0089,-0.010015,-0.000837,-0.012694,0.016361,0.003422,0.01643
4,63,242,0.50,0.0,0.818182,0.000000,0.363636,False,False,False,...,-0.011781,-0.001448,0.012002,-0.0089,-0.010015,-0.000837,-0.012694,0.016361,0.003422,0.01643